.counter {
  background: #fff;
  border: 2px solid #666;
  border-radius: 50%;
  color: #666;
  font-size: 11px;
  height: 10px;
  padding: 1px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 10px;
}

.mat-expansion-panel-header-description {
  margin-right: 0;
  position: relative;
}

.response {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-style: solid;
  border-bottom-width: 1px;

  &__body {
    padding: 0.5rem 0;
    position: relative;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.accepted-time {
  margin: 0;
}
