.counter {
  background: #fff;
  border: 2px solid #666;
  border-radius: 50%;
  color: #666;
  font-size: 11px;
  height: 10px;
  padding: 1px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 10px;
}

.mat-expansion-panel-header-description {
  margin-right: 0;
  position: relative;
}

.response {
  &:not(:first-of-type) {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  &__body {
    padding: 0.5rem 0;
    position: relative;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.accepted-time {
  margin: 0;
}

.advert {
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  margin-bottom: 0.5rem;

  &__text {
    margin-top: 0;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
