.wrapper {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 1rem 2rem;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;

  &__row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.mat-form-field {
  margin-right: 1rem;
}

.time-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
}

.time-label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  position: absolute;
  top: -13.5px;
}

@media only screen and (max-width: 767px) {
  .mat-form-field {
    margin: 0;
  }

  .form {
    display: flex;
    flex-direction: column;

    &__row {
      align-items: flex-start;
      display: flex;
      flex-direction: column;

      mat-form-field {
        width: 100%;
      }
    }
  }

  .time-wrapper {
    margin: 1rem 0;
  }
}
