.form__field {
  margin-right: 1rem;
}

.btn {
  float: right;
  margin-top: 13.5px;
}

@media (max-width: 765px) {
  .form__field {
    margin-right: 0;
    width: 100%;
  }

  .btn {
    float: none;
    margin-left: 0 !important;
    width: 100%;
  }
}
