.card {
  box-shadow: none;
  margin-bottom: 2rem;

  &__title {
    display: flex;
    justify-content: space-between;
    padding: $space-m $space-l 0;
  }

  &__content {
    margin: 0 $space-l;
  }
}
