.container {
  margin: 0 auto 3rem;
  padding: 0 15px;

  &__header {
    flex: 0 0 100%;
    margin-bottom: 1.5rem;
    text-transform: uppercase;

    span {
      padding-bottom: 5px;
      position: relative;
    }

    span::after {
      border-bottom: 2px solid #4a569a;
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 115%;
    }
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1366px) {
  .container {
    width: 1366px;
  }
}
