body {
  font: 400 16px/1.125 'Helvetica Neue', Roboto;
  margin: 0;
}

a {
  color: #5c6bc0;
  text-decoration: none;
}

h1,
h2,
strong {
  color: #333;
}

body {
  color: #555;
}

.fill-background {
  background: url('../assets/images/home.jpg') no-repeat center center fixed;
  background-position: 50% 20%;
  background-size: cover;
  min-height: 100vh;

  &__back {
    color: #fff;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 200;
    left: 30px;
    line-height: 26px;
    position: absolute;
    top: 30px;
    vertical-align: middle;

    &:hover {
      cursor: pointer;
    }
  }
}

.fill-space {
  flex: 1 1 auto;
}

.centered-box {
  background: #fff;
  bottom: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  height: 230px;
  left: 0;
  margin: auto;
  max-width: 360px;
  padding: 45px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;

  &--long {
    height: 335px;
  }

  &--wide {
    max-width: 50%;
  }

  &__logo {
    left: 50%;
    margin-left: -200px;
    position: inherit;
    top: -100px;
    width: 400px;
    z-index: 1000;

    &:hover {
      cursor: pointer;
    }
  }
}

.logo-small {
  width: 48px;
}

// To remove google logo from aaddress choosing.

.pac-logo::after {
  content: none !important;
}
